@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    /*this is for fading in and out of stuff*/
    --forground-rgba: 0, 0, 0, 1;
    --forground-rgba-fade: 0, 0, 0, 0;

    --background-item-rgba: 170, 170, 170, 0;
    --background-item-rgba-fade: 170, 170, 170, 1;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;

        /*this is for fading in and out of stuff*/
        --forground-rgba: 255, 255, 255, 1;
        --forground-rgba-fade: 255, 255, 255, 0;

        --background-item-rgba: 48, 48, 48, 0;
        --background-item-rgba-fade: 48, 48, 48, 1;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
        )
    rgb(var(--background-start-rgb));
    overflow-x:hidden;
}
.head{
    width:100vw;
    display:inline-flex; flex-direction:row;
    line-height:50px;
    height:50px;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.headBtn{
    text-align: center;
    height:100%;
    width:calc(100vw / 3); /* kind of silly, ill figure it out later */
    background-color:rgb(129, 133, 137, 0);
    transition:300ms;
}

.tblWrapper{
    outline-style:solid;
    outline-color:rgb(var(--forground-rgba));
    outline-width:2px;
    padding:10px;
    padding-bottom:20px;
    border-radius:20px;
}

.tblHead{
    /*worry abt this later*/
    padding-top:10px;
    display:inline-flex;
    outline-width: 0px;
}
.tblHeadCheck, .tblHeadDate, .tblHeadShip{
    text-align: left;
    padding:10px;
    width:180px;
}
.tblHeadCheck{
    text-align: left;
    width:50px !important;
}
.tblHeadDate{
    width:115px !important;
}

.tblRowWrap{
    padding-top:10px;
}
.tblRow{
    padding-top:5px;
    height:60px;
    background-color:rgb(var(--background-item-rgba));
    transition:300ms;
}
.tblRow:hover{
    background-color:rgb(var(--background-item-rgba-fade));
}

.tblBodyCheck, .tblBodyDate, .tblBodyShip{
    display:inline-flex;
    line-height:30px;
    height:50px !important;
    padding-left:10px;
    padding-right:10px;
    width:180px;
}
.tblBodyCheck{
    display:inline-table;
    padding-top:10px;
    width:50px !important;
}
.tblBodyDate{
    overflow:hidden;
    width:115px;
    /*
    border-width: 1px;
    border-left-style:solid;
    border-right-style:solid;
    border-top-style:hidden;
    border-bottom-style:hidden;
    */
}


.stuff{
    display:block;
    flex-direction:column;  
}


.shipInput{
    padding-left:7px;
    padding-right:7px;
    height:30px;
    width:160px;
    background: transparent;
    border: none;
    transition:300ms;
    border-bottom:1px solid;
    border-color:rgb(var(--forground-rgba-fade));
}
.shipInput:hover{
    border-color:rgb(var(--forground-rgba));
}
.shipInput:focus{
    outline:none;
    border-color:rgb(var(--forground-rgba));
}
.tblFoot{
    padding:2px;
    display:inline-flex; flex-direction:row;
}
.tblFootBtn{
    background-color:rgb(var(--background-item-rgba));
    outline-color:white;
    width:200px;
    padding:10px;
    text-align:center;
    transition:300ms;
}

.tblBody:hover, .tblFootBtn:hover, .headBtn:hover, .loginBtn:hover{
    background-color:rgb(var(--background-item-rgba-fade));
}

.loginfeild{
    height:50px;
    line-height:50px;
}

.reporthead{
    display:none;
}
.reportLine{
    height:30px;
    line-height: 30px;
    transition:300ms;
    border-bottom:1px solid;
    border-color:rgb(var(--forground-rgba-fade));
}

.reportLine:hover{
    border-color:rgb(var(--forground-rgba));
}

.reportTxt{
    width:200px;
    text-align: center;
}
.loginBtn{
    background-color:rgb(129, 133, 137, 0);
    width:280px;
    padding:10px;
    text-align:center;
    transition:300ms;
}
.report{
    text-align: center;
}
.affirmation{
    padding:10px;
    transition: 300ms;
    background-color:rgb(255, 255, 255, 0);
}
.affirmRow{
    display:inline-flex; flex-direction:row;
}

.infoText{
    width:400px;
    text-align: center;
}

.hidethis{
    display:none;
}