@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    /*this is for fading in and out of stuff*/
    --forground-rgba: 0, 0, 0, 1;
    --forground-rgba-fade: 0, 0, 0, 0;

    --background-item-rgba: 170, 170, 170, 0;
    --background-item-rgba-fade: 170, 170, 170, 1;
    --background-item-rgba-select: 170, 170, 170, .7;

    /*comment here not next, just make sure this matches background color.
    transparent background causes us to not have select arrows on mobile...*/
    --select: 255, 255, 255, .01;
    --icon: 0%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;

        /*this is for fading in and out of stuff*/
        --forground-rgba: 255, 255, 255, 1;
        --forground-rgba-fade: 255, 255, 255, 0;

        --background-item-rgba: 48, 48, 48, 0;
        --background-item-rgba-fade: 48, 48, 48, 1;
        --background-item-rgba-select: 48, 48, 48, .7;

        --select: 0, 0, 0, .01;
        --icon: 100%;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
        )
    rgb(var(--background-start-rgb));
    overflow-x:hidden;
}
.padding{
    /*this just exists to maitain the style without the header*/
    height:50px;
}
.head{
    width:100vw;
    display:inline-flex; flex-direction:row;
    line-height:50px;
    height:50px;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
.headBtn{
    text-align: center;
    height:100%;
    width:calc(100vw / 3); /* kind of silly, ill figure it out later */
    background-color:rgb(129, 133, 137, 0);
    transition:300ms;
}

.tblWrapper{
    outline-style:solid;
    outline-color:rgb(var(--forground-rgba));
    outline-width:2px;
    padding:10px;
    padding-bottom:20px;
    border-radius:20px;
}

.tblHead{
    /*worry abt this later*/
    padding-top:10px;
    display:inline-flex;
    outline-width: 0px;
}
.tblHeadDate, .tblHeadShip{
    text-align: left;
    padding:10px;
    width:115px;
}
.tblRow{
    padding-top:15px;
    height:60px;
    background-color:rgb(var(--background-item-rgba));
    transition:300ms;
}
.tblRow:hover{
    background-color:rgb(var(--background-item-rgba-fade));
}

.tblBodyCheck, .tblBodyDate, .tblBodyShip{
    display:inline-flex;
    line-height:30px;
    height:50px !important;
    padding-left:10px;
    padding-right:10px; 
    width:115px;
}
.tblBodyCheck{
    display:inline-table;
    padding-top:10px;
    width:50px !important;
}
.tblBodyDate{
    overflow:hidden;
    width:115px;
}
.tblBodyShip{
    position: relative;
    display:inline-block;
}
.tblBodyShip::before{
    position:absolute;
    top:0px;
    right:-1px;
}

.stuff{
    display:block;
    flex-direction:column;  
}


.shipInput, .formInput{
    padding-left:7px;
    padding-right:7px;
    height:30px;
    width:160px;
    background: transparent;
    border: none;
    transition:300ms;
    border-bottom:1px solid;
    border-color:rgb(var(--forground-rgba-fade));
}
.shipValue{
    color:black;
}
.shipInput{
    width:95px !important;
    background-color: rgb(var(--select));
}
.formIcon{
    filter:invert(var(--icon));
    padding-right:10px; /* just gives us padding between this and the input div*/
}
.formInput{
    margin:auto;
    width:240px !important;
}
.errMessage{
    text-align:center;
    width:280px
}
.shipInput:hover, .formInput:hover{
    border-color:rgb(var(--forground-rgba));
}
.shipInput:focus, .formInput:focus{
    outline:none;
    border-color:rgb(var(--forground-rgba));
}
.tblFoot{
    padding:2px;
    display:inline-flex; flex-direction:row;
}
.tblFootBtn, .topBtn{
    background-color:rgb(var(--background-item-rgba));
    outline-color:white;
    width:182.5px;
    padding:10px;
    text-align:center;
    transition:300ms;
}

.tblBody:hover, .tblFootBtn:hover, .topBtn:hover, .headBtn:hover, .formBtn:hover, .selectedCrew:hover, .unselectedCrew:hover{
    background-color:rgb(var(--background-item-rgba-fade));
}
.topBtn{
    width:300px;
}

.crewtype{/*work on this later*/
    text-align:center;
    line-height:25px;
    height:60px;
    width:345px;
}
.selectedCrew, .unselectedCrew{
    border-color:rgb(var(--background-item-rgba-select));
    border-width:2px;
    width:115px;
    padding:10px;
    transition:300ms;
}
.selectedCrew{
    background-color:rgb(var(--background-item-rgba-select))
}
.unselectedCrew{
    background-color:rgb(var(--background-item-rgba));
}


.formLine{
    margin:auto;
    display:flex;
    flex-direction: row;
    height:50px;
    line-height:50px;
    width:280px;
    align-items: center;
    justify-content: center;
}

.reporthead{
    display:none;
}
.reportLine{
    height:30px;
    line-height: 30px;
    transition:300ms;
    border-bottom:1px solid;
    border-color:rgb(var(--forground-rgba-fade));
}

.reportLine:hover{
    border-color:rgb(var(--forground-rgba));
}

.reportTxt{
    width:115px;
    text-align: center;
}
.formBtn{
    background-color:rgb(129, 133, 137, 0);
    width:140px;
    text-align:center;
    transition:300ms;
}
.report{
    text-align: center;
}
.affirmation{
    padding:10px;
    transition: 300ms;
    background-color:rgb(255, 255, 255, 0);
    width:300px;
}
.affirmRow{
    display:inline-flex; flex-direction:row;
}

.infoText{
    width:400px;
    text-align: center;
}

.hidethis{
    display:none;
}

.prev{
    color:rgb(var(--background-end-rgb));
    border-radius:10px;
    border-style:solid;
    background-color: rgb(var(--forground-rgba));
}
.sadminRB, .uadminRB{
    height:30px;
    width:70px;
    text-align: center;
    line-height:30px;
    background-color:rgb(var(--background-item-rgba-select));
    transition:300ms;
}
.sadminRB,.adminRow{
    background-color:rgb(var(--background-item-rgba));
}
.sadminRB:hover, .uadminRB:hover,.adminRow:hover{
    background-color:rgb(var(--background-item-rgba-fade));
    transition:300ms;
}

.adminLabelY, .adminCell, .adminLabelX{
    display:inline-block;
    width:120px;
    height:26px;
    text-align: center;
    border-color: rgb(var(--forground-rgba));
    border-style:solid;
    border-width:1px;
}
.adminLabelY{
    font-weight: 600;
}
.adminLabelX{
    font-weight: 600;
    width:300px;
}

.savemsg0, .savemsg1{
    font-weight:200;
    color:rgb(var(--forground-rgba));
    transition:300ms;
    opacity:0;
}
.savemsg1{
    opacity:1 !important;
}

.adminWrap{
    display:inline-flex;
    flex-direction:row;
}
.adminTable{
    display:block;
    height:700px;
    overflow-y:scroll;
}
.adminFilterWrap{
    width:200px;
}