@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: 18, 18, 18;
    --color-secondary: 240, 240, 240;
    --tdi-blue: 33, 28, 102; /*PLAY WITH THIS*/
}

.shadow {
}


body {
    color: rgb(var(--color-primary));
    background: rgb(219, 219, 219);
    padding-bottom: 20px;

}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}